* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: AliceBlue;
}

h2 {
    font-size: 40px;
    color: MidnightBlue;
    display: block;
    margin: auto;
    padding: 15px;
    text-align: center;
}

header {
	background-color: MidnightBlue;
	}
	
header figure {
	padding: 20px;
	}

    #col-100pc figure img {
        width: 100%;
    }

    #col-100pc figure {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
        padding-top: 10px;
    }


    #col-40pc {
        width: 40%;
        float: left;
    }

    #col-40pc figure img {
        width: 100%;
    }

    #col-60pc {
        width: 60%;
        float: left;
    }

#menu { 
	overflow: hidden;
	background-color: DarkOrange;
}

#menu a { 
	float: left;
	display: block;
	text-align: center;
	padding: 2%;
	font-size: 16px;
	text-decoration: none;
	color: MidnightBlue;
	background-color: Gold;
}

#menu a:hover {
	color: Gold;
	background-color: OrangeRed;
}

#menu #menuSelected {
	color: Gold;
	background-color: OrangeRed;
	}

#conteudo {
	background-color: DarkGrey;
}

#conteudo #col-60pc p {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    padding-right: 60px;
}

#conteudo:after {
	content: "";
	display: table;
	clear: both;
}

.containerMapa {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.margemP {
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    text-align: justify;
}

.margemH4 {
    font-size: 16px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.tit60p {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Estilos Linha de 2 Colunas */

#coluna1, #coluna2 {
	float: left;
	width: 46%;
	overflow: auto;
	text-align: justify;
	padding-right: 5%;
	padding-top: 10px;
	padding-bottom: 25px;
	background-color: MintCream;
	margin: 2%;	
}

#coluna1 {
	padding-left: 5%;	
}

#coluna2 {
	padding-left: 5%;	
}

#coluna1 figure img {
	display: block;
	width: 100%;
	}

#coluna2 figure img {
    display: block;
    width: 100%;
    }
	
#coluna1 figure {
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	}

#coluna2 figure {
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	}

#conteudo #coluna1 p {
	font-size: 14px;
	line-height: 24px;
	}

#conteudo #coluna2 p {
	font-size: 14px;
	line-height: 24px;
	}


/* Estilos Linha de 3 Colunas */

aside {
    display: block;
    float: left;
    width: 100%;
}

#col1, #col2, #col3 {
	float: left;
	width: 29%;
	overflow: auto;
	text-align: justify;
	background-color: MintCream;
    margin: 2%;
    padding: 2%;
}

#conteudo #col1 p {
	font-size: 14px;
	line-height: 24px;
	}

#conteudo #col2 p {
	font-size: 14px;
	line-height: 24px;
	}

#conteudo #col3 p {
    font-size: 14px;
    line-height: 24px;
    }


footer{
	background-color: DarkSlateBlue;
	color: PaleTurquoise;
	text-align: center;
	
	padding: 20px;
	margin-top: 20px;
}


/* Responsivo Mobile */

@media screen and (max-width: 600px) {

    .margemH4 {
        margin-inline-start: 10px;
        margin-inline-end: 10px;
    }

    #col-100pc figure {
        display: block;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
    }

    #col-40pc figure {
        display: block;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
    }

    .margemP {
        font-size: 14px;
        line-height: 24px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        text-align: justify;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        text-align: justify;
    }

    .containerMapa iframe {
        width: 100%;
    }
	
	header figure img {
		display: block;
		margin: auto;
		}

        .tit60p {
            margin-inline-start: 10px;
            margin-inline-end: 1px;
        }
	
	#coluna1, #coluna2 { 
		width: 100%;
		margin: 0;
	}
    
    #col1, #col2, #col3 {
        width: 100%;
		margin: 0;
    }

    #col-40pc {
        width: 100%;
    }

    #col-60pc {
        width: 100%;
    }

    #conteudo #col-60pc p {

        font-size: 14px;
            line-height: 24px;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 10px;
            margin-inline-end: 10px;
        }

        #conteudo #col-60pc p {
            padding-right: 0px;
        }
	
	#conteudo {
		padding: 10px;
	}
	
	#menu a{
		float: none;
		width: 100%;
	}
	
}