@charset "iso-8859-1";
/* CSS Document */


#bannerQuadrado2 {
	display: none;
	}
	

/* Tags */

h1 {
	font-family: 'Pridi', serif!important;
	font-size: 48px!important;
	line-height: 50px!important;
	font-weight: bold!important;
	color: #FFFFFF!important;
	width: 80%!important;
	}

h2 {
	font-family: 'Mate', serif!important;
	font-size: 28px!important;
	line-height: 32px!important;
	color: #FFFFFF!important;
	font-weight: bold!important;
	width: 80%!important;
	}

h3 {
	font-family: 'Mate', serif!important;
	font-size: 16px!important;
	line-height: 18px!important;
	color: #FFFFFF!important;
	}

h6 {
	font-family: 'Mate', serif!important;
	font-size: 17px!important;
	line-height: 19px!important;
	color: #7C7C7C!important;
	}

h6 small {
	color: #7C7C7C;
	}

a {
	font-family: 'Mate', serif!important;
	font-size: 16px!important;
	line-height: 18px!important;
	color: #FFFFFF!important;
	}

p {
	font-family: 'Amethysta', serif!important;
	font-size: 16px!important;
	line-height: 24px!important;
	text-align: justify!important;
	}

hr {
	border-color: #A8A8A8!important;
	}

ul {
	padding-left: 25px;
	}


/* Classes */

.txtRodape {
	font-family: 'Amethysta', serif!important;
	font-size: 13px!important;
	line-height: 24px!important;
	color: #666666!important;
	}

.linkRodape {
	font-family: 'Amethysta', serif!important;
	font-size: 13px!important;
	line-height: 24px!important;
	color: #666666!important;
	text-decoration: none!important;
	}

.linkRodape:hover {
	text-decoration: underline!important;
	}

.txtCreditos {
	font-family: 'Amethysta', serif!important;
	font-size: 12px!important;
	line-height: 16px!important;
	color: #666666!important;
	}

.txtTwitter {
	font-family: 'Amethysta', serif!important;
	font-size: 13px!important;
	line-height: 16px!important;
	color: #393939!important;
	}

.linkCreditos {
	font-family: 'Amethysta', serif!important;
	color: #2525B9!important;
	font-size: 12px!important;
	line-height: 16px!important;
	text-decoration: underline!important;
	}

.contRodape {
	margin-left: 32px;
	margin-right: 32px;
	}

.linkParagrafo {
	font-family: 'Amethysta', serif!important;
	color: #2525B9!important;
	font-size: 16px!important;
	line-height: 24px!important;
	text-decoration: underline!important;
	}

.titCapitulo {
	font-family: 'Amethysta', serif!important;
	font-size: 22px!important;
	line-height: 26px!important;
	font-weight: bold!important;
	color: #000000!important;
	margin-top: 40px!important;
	}

.titVideo {
	font-family: 'Amethysta', serif!important;
	font-size: 20px!important;
	line-height: 26px!important;
	font-weight: bold!important;
	color: #000000!important;
	margin-top: 20px!important;
	}

.legendaVideo {
	font-family: 'Amethysta', serif!important;
	font-size: 15px!important;
	line-height: 17px!important;
	color: #8F8F8F!important;
	}

.legenda1 {
	font-family: 'Mate', serif;
	font-size: 15px;
	line-height: 19px;
	color: #A3A3A3;
	margin-top: 5px;
	}

.fotoWid100 {
	max-width:100%;
	height:auto;
	margin-top: 15px;
	}

.w3-image {
	margin-top: 15px;
	margin-bottom: 15px;
	}

.w3-bottombar {
	border-bottom-style: solid!important;
	border-bottom-width: 1px!important;
	}

.w3-topbar {
	border-top-style: solid!important;
	border-top-width: 1px!important;
	}

.chamada {
	margin-bottom: 64px!important;
	}

.videoEmbed {
	background-color: #666666;
	}

/* Compound */



/* Tablets */

@media(max-width:1024px) {

h1 {
	font-size: 34px!important;
	line-height: 36px!important;
	}

h2 {
	font-size: 20px!important;
	line-height: 22px!important;

	}

h3 {
	font-size: 15px!important;
	line-height: 16px!important;
	}
	
    
}


/* Celulares */

@media(max-width:415px) {

#logoJC {
	display: none!important;
	}

#bannerQuadrado1 {
	display: none;
	}

#bannerQuadrado2 {
	display: block;
	}

h1 {
	font-size: 24px!important;
	line-height: 26px!important;
	width: 100%!important;
	margin-top: 30px!important;
	}

h2 {
	font-size: 16px!important;
	line-height: 18px!important;
	width: 100%!important;

	}

h3 {
	font-size: 13px!important;
	line-height: 16px!important;
	}

h3 a {
	font-size: 13px!important;
	line-height: 16px!important;
	}

h6 {
	font-size: 13px;
	line-height: 16px;
	}

p {
	padding: 8px;
	}

.chamada {
	margin-bottom: 10px!important;
	}

.logoTop {
	width: 80%;
	}

}