@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	
}

a {
	text-decoration: none;
	color: #000000;
}

a i:hover {
    color: #000000;
}

hr {
    border: #8b8b8b;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-top: 25px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', sans-serif;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
    margin-bottom: 30px;
}

h4 {
	font-size: 18px;
	margin-top: 5px;
}

h5 {
	font-size: 16px;
    margin-top: 5px;
}

p {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	margin-bottom: 20px;
    color: #272727;
}


a:hover {
	text-decoration: underline;
}



header .container span a i {
	color: #272727;
}

img {
	width: 100%
}

.fontPlayfair {
	font-family: 'Playfair Display', serif;
}

.fontPTSans {
	font-family: 'PT Sans', sans-serif;
}

header {
	background-color: #F5E5D9;
}

header .container {	
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    /*width: 100%;*/
    max-width: 1000px;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
	background-color: #F6F6F6;
}

.containerBanner {
    width: 100%;
    max-width: 1136px;
    margin-right: auto;
    margin-left: auto;
	background-color: #272727;
}

header span {
	display: inline-block;
	text-align: right;
	/*float: right;*/
}

header span i {
	padding-left: 20px;
}

header .container .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header ul li {
	font-family: 'PT Sans', sans-serif;
}

header .container .menu a {
    font-size: 14px;
    color: #272727;
    margin-right: 30px;
    position: relative;
}

header ul {
	text-align: center;
	display: inline;
	text-decoration: none;
}

header ul li {
	display: inline;
}

header h3 {
	display: inline;
}

.banner {
	display: block;
	width: 100%;	
}

.bannerMobile .containerBanner img {
	display: none;
}

.fotoCirculo {
	border-radius: 50%;
	width: 100px;
}

section .container .fotoCirculo {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5%;
	margin-bottom: 5%;
}

/*
section .container span {
	padding-left: 5%;
	padding-right: 5%;
}
*/

section .container .circulos {
	list-style-type:none;
	text-align:center;
	margin:0;
	padding:0;
	}

section .container .circulos li {
	display:inline-block;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 15px;
	padding-right: 15px;
	}
	
	
.tabelaBanners {
	width: 90%;
}

.textoCol1 {
	width: 80%;
    padding-left: 30px;
}

.titPriCol1 {
    padding-left: 30px;
}

.titSecCol1 {
    padding-left: 30px;
}


/* Cria 3 colunas iguais que flutuam lado a lado */
.col33pc {
	float: left;
	width: 33.33%;
	text-align: center;
}

/* Cria 2 colunas iguais que flutuam lado a lado */
.col50pc {
	float: left;
	width: 50%;
	text-align: center;
}

.col60pc {
	float: left;
	width: 60%;
	text-align: center;
}

.col60pcEsq {
	float: left;
	width: 60%;
	text-align: left;
}

.col40pc {
	float: left;
	width: 40%;
	text-align: center;
}

.col30pc {
	float: left;
	width: 30%;
	text-align: center;
}

.colCenter {
    width: 100%;
    text-align: center;
}

/* Clear the floats after the columns */
.linha:after {
	content: "";
	display: table;
	clear: both;
}


.bgImagem1 {
	background-image: url(../img/banner1.jpg);
}

.bgImagem2 {
	background-image: url(../img/bg_box1.gif);
}

.bgImagem3 {
	background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

section .container .linha {
	padding-top: 20px;
	padding-bottom: 40px;
}

section .container .linhaMenor {
	padding-top: 10px;
	padding-bottom: 10px;
}

footer .container .linha {
    padding-top: 30px;
    padding-bottom: 10px;
}

footer .container .linhaMenor {
    padding-top: 2px;
    padding-bottom: 20px;
}

.col1Conteudo {
	display: block;
	text-align: left;
	padding-top: 25px;
	width: 90%;
}

.corBGbanner1 {
	background-color: #F5E5D9;
}

.margemBanners {
	padding: 5%;
}

.alinhaTopo {
    vertical-align: top;
}

.alinhaEsq {
    text-align: left;
}

.btForm {
    transition: .3s;
    border: 1px solid #FFFFFF;
    letter-spacing: 0.4px;
    padding: 3px 5px;
    background: #FFFFFF;
    color: #272727;
    cursor: pointer;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
}

.btForm:hover {
    border: 1px solid #000000;
    color: #000000;

}

.botao1 {
    transition: .3s;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #272727;
    letter-spacing: 0.4px;
    padding: 10px 15px;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;

    /*
    transform: scale(1.05);
    font: 600 12px/22px "Montserrat",sans-serif;
    letter-spacing: 0.8px;
    padding: 10px 15px;
    background: #FF6D00;
    border-radius: 24px;
    border: 1px solid #B5B5B5;
    border-color: #FF6D00;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    min-width: 120px;
    */
}

.botao1:hover {
    color: #000000;
    background: #FFFFFF;
}

.logoFooter {
    width: auto;
}

.menuFooter {
    float: left;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
	font-size: 14px;
    padding-right: 20px;
    line-height: 22px;
}

.inputForm {
    line-height: 22px;
    border-style: none;
    width: 320px;
}

.logoInstaMobile {
    display: none;
}

.logoInstaDesktop {
    display: block;
}

.bgBranco {
    background-color: #FFFFFF;
}

.bgBege{
    background-color: #F5E5D9;
}

/* Swiper */
.swiper-container {
    width: 400px;
    height: 240px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

div .swiper-button-prev {
    color: #FFFFFF;
}

div .swiper-button-next {
    color: #FFFFFF;
}



.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #FFFFFF;
}


.textoDestEsp {
    padding-left:10px; padding-top:20px; padding-right:20px; padding-bottom:20px;
}

.imagemDestEsp {
    padding-left:20px; padding-top:20px;
}

.imagemDestEsp img {
    width: 200px;
}

header .container .menuMobile {
    display: none;
}



/* Mobile Phones */

@media(max-width:600px) {



.inputForm {
    width: 280px;
}

.swiper-container {
    width: 100%
}

header .container .menuMobile {
    display: block;
    padding-right: 30px;
}

.imagemDestEsp img {
    width: 160px;
    padding-right: 8px;
}

.imagemDestEsp {
    padding-top:0px;
}

.margemBanners {
    padding: 1%;
}

.tabelaBanners td {
    background-color: #F5E5D9;
}


.celInsta {
    padding-left: 35px;
}


.logoInstaMobile {
    display: block;
}
    
.logoInstaDesktop {
    display: none;
}
	
	
section .container .circulos li {
    padding-left: 30px;
    padding-right: 30px;
}
	

.tabelaBanners {
    width: 100%;
}

.col33pc {
	width: 100%;
}

.col60pcEsq {
	width: 100%;
}

.col40pc {
	width: 100%;
}

.col30pc {
	width: 100%;
}


header .container {
    display: flex;
    align-items: center;
}
	
header {
	width: 100%;	
}
	
header .container .menu {
	display: none;
}

main section .containerBanner img {
	display: none;
}

.bannerMobile .containerBanner img {
	display: block;
}


/* PCs Desktop */
@media(max-width:1366px) {
   
}

/* Tablets */
@media(max-width:992px) {
		   
}