@charset "utf-8";
/* CSS Document */


/* Tags */

body {
	background-color: #000000;
	}

a {
	font-family: 'Yrsa', serif;
	text-align: justify;
	font-size: 18px!important;
	}

p {
	font-family: 'Yrsa', serif;
	text-align: justify;
	font-size: 18px!important;
	}

h2 {
	font-family: 'Yrsa', serif;
	font-weight: bold;
	}

h4 {
	font-family: 'Yrsa', serif;
	}

h6 {
	line-height: 1.0;
	}


/* Classes */

.TitContinue {
    font-size: 16px;
	line-height: 20px;
	font-family: 'Marko One', serif;
	font-style: italic;
}

.titRedesSociais {
	color: #b68900;
	}

.conteudo {
	max-width: 1000px;
	}

.imgMain {
	width: 100%;
	}

.legenda {
	font-family: 'Marko One', serif;
	font-style: italic;
	font-size: 18px!important;
	color: #936b0e;
	}

.citLegenda {
	font-family: 'Marko One', serif;
	font-style: italic;
	font-size: 20px!important;
	color: #936b0e;
	}

.divTipo1 {
    border: 5px solid #E0C9A7;
    padding: 20px;
    margin: auto;
	display: block;
	text-align: center;
	background-color:#AD8B51;
}

.LogoTitulo {
	font-family: 'Bungee', cursive;
	font-size: 36px;
	color: #E0C9A7;
}

.titPrincipal {
	font-family: 'Marko One', serif;
	font-weight: bold;
	color: #5E4215;
	padding-top: 50px;
	padding-bottom: 30px;
	line-height: 40px;
}

.SubTitPrincipal {
	font-family: 'Marko One', serif;
	color: #5E4215;
	font-style: italic;
	padding-top: 20px;
	padding-bottom: 50px;
	line-height: 35px;
}

.titPrincipalInt {
	font-family: 'Marko One', serif;
	font-weight: bold;
	color: #5E4215;
	padding-top: 20px;
	padding-bottom: 10px;
	line-height: 40px;
}

.SubTitPrincipalInt {
	font-family: 'Marko One', serif;
	color: #5E4215;
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 35px;
}

.titBranco {
	font-family: 'Yrsa', serif;
	font-size: 30px;
	line-height: 1.0;
	color: #FFFFFF;
}

.txtBranco {
	color: #FFFFFF;
}

.txtMarrom {
	color: #5E4215;
	}

.txtBranco {
	font-family: 'Yrsa', serif;
	font-size: 26px;
	color: #FFFFFF;
}

.bgMarrom {
	background-color:#433012;
}

.bgMarromClaro {
	color: #E0C9A7;
	}

.icoCor1 {
	color: #b08010;
	}

.citCor1 {
	color:#936b0e;
}


/* Tema de Cor - Amarelo */

.w3-theme-l5 {color:#000 !important; background-color:#fefbf5 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fcf2dc !important}
.w3-theme-l3 {color:#000 !important; background-color:#f9e6ba !important}
.w3-theme-l2 {color:#000 !important; background-color:#f5d997 !important}
.w3-theme-l1 {color:#000 !important; background-color:#f2cd75 !important}
.w3-theme-d1 {color:#000 !important; background-color:#ecb535 !important}
.w3-theme-d2 {color:#000 !important; background-color:#e9ab18 !important}
.w3-theme-d3 {color:#fff !important; background-color:#ce9613 !important}
.w3-theme-d4 {color:#fff !important; background-color:#b08010 !important}
.w3-theme-d5 {color:#fff !important; background-color:#936b0e !important}

.w3-theme-light {color:#000 !important; background-color:#fefbf5 !important}
.w3-theme-dark {color:#fff !important; background-color:#936b0e !important}
.w3-theme-action {color:#fff !important; background-color:#936b0e !important}

.w3-theme {color:#000 !important; background-color:#efc050 !important}
.w3-text-theme {color:#efc050 !important}
.w3-border-theme {border-color:#efc050 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#efc050 !important}
.w3-hover-text-theme {color:#efc050 !important}
.w3-hover-border-theme:hover {border-color:#efc050 !important}
	
	

/* Estilos - Galeria */

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}



@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}


@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}




@media only screen and (max-width: 600px){
	

.TitContinue {
    font-size: 14px;
	line-height: 18px;
	font-family: 'Marko One', serif;
	font-style: italic;
}


.w3-panel {
    margin-top: 6px;
    margin-bottom: 16px;
}

.w3-margin-bottom {
    margin-bottom: 6px!important;
}

.w3-margin-top {
    margin-bottom: 16px !important;
}


.titPrincipalInt {
	font-family: 'Marko One', serif;
	font-size: 24px;
	font-weight: bold;
	color: #5E4215;
	padding-top: 20px;
	padding-bottom: 10px;
	line-height: 28px;
}

.SubTitPrincipalInt {
	font-family: 'Marko One', serif;
	font-size: 20px;
	color: #5E4215;
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 24px;
}

}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

