
body{
	font-family:'Segoe UI', Tahome, Geneva, Verdana, sans-serif;
}

header {
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
	background-image: url("../img/bg_table.jpg");
	background-size: cover;
}

nav {
	display: block;
	width: 100%;
	background-color:LightGreen;
	padding-top: 8px;
	padding-bottom: 8px;
}

footer {
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
	background-color:LightGray;
}

h1 {
	font-family: Tahoma, Verdana;
	font-weight: bold;
	font-size: 45px;
	text-align: center;
}

h2 {
	font-family: Tahoma, Verdana;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

h3 {
	font-family: Tahoma, Verdana;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
}

h4 {
	font-family: Tahoma, Verdana;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

h5 {
	font-family: Tahoma, Verdana;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

h6 {
	font-family: Tahoma, Verdana;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
}



.container {
	display: block;
	margin: auto;
	width: 80%;
}

.flex-container {
	display: flex;
	background-color: LightGreen;
	border-radius: 10px;
	margin-bottom: 10px;
}

.flex-container > div {
	flex: 1;
	background-color: DarkGreen;
	border: 1px solid;
	border-radius: 10px;
	font-size: 13px;
	font-family: Verdana;
	line-height: 18px;
	margin: 10px;
	padding: 16px;
	width: 60px;
}

.flex-container > div h5 {
	text-align: center;
	color: white;
	text-decoration: none;
}

.flex-container > div img {
	width: 100%
}

.flex-container > div p {
	text-align: justify;
	margin-top: 0px;
	color: white;
}

header h1 {
	color:white;
}
